.contentColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;
}

.listColumn {
    gap: 0.4em;
}

.contentBox {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}