@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
    background-image: url('../images/background2.png');
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: 'Fredericka the Great', sans-serif;
    font-size: 3.5em;
    text-align: center;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
}

p {
    text-align: center;
    font-size: 1.2em;
}

.diximus {
    font-family: 'Fredericka the Great', sans-serif;
    font-size: 2em;
}

.whiteText {
    color: white;
    text-shadow: black 0px 0px 5px;
}

a.light {
    color: orange;
}

a.light:hover {
    color: orangered;
}